* {
  margin: 0;
  box-sizing: border-box;
}

#main {
  border: 1px solid black;
  width: 40vw;
  height: 500px;
  margin: 50px 30vw;
  padding: 30px;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 3fr 1fr 3fr;
  h2 {
    grid-row: 1;
    grid-column: span 3;
    text-align: center;
  }
  div {
    grid-row: 2;
    #input,
    #output {
      width: 100%;
      height: 70%;
    }
  }
  #settings {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    #shiftNumber {
      width: 30%;
      height: 30px;
      font-size: 1em;
      padding-left: 8px;
    }
  }
}
#explanation {
  height: 200px;
  margin: 50px 25vw;
  border: 1px solid black;
  text-align: center;
  line-height: 45px;
}
